@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%,60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 100%, 55%);
    --color-dark: hsl(252, 30%, 15%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius:0.9rem;
    --btn-padding: 0.5rem 1.8rem;
    --search-padding: 0.6rem 2rem;
    --card-padding: 2rem;

    --sticky-top-left: 4.7rem;
    --sticky-top-right: -18rem;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;

}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.profile-photo {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.btn:hover {
    opacity: 0.8;
}
.btn-primary {
    background: var(--color-primary);
    color: white;
}
.text-bold {
    font-weight: 500;
}
.text-muted {
    color: var(--color-gray);
}


nav {
    width: 100%;
    background-color: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    z-index: 10;
    top: 0;

}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    margin-left: 5.5rem;

}
nav .search-bar input[type="search"] {
    background: transparent;
    width: 29vw;
    margin-left: 3rem;
    font-size: 1rem;
    color: var(--color-dark);
}
nav .search-bar input[type="search"] ::placeholder {
    color: var(--color-gray);
}
nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    position: relative;
    top: 4.6rem;
}
main .container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 2rem;
    position: relative;
}
main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
   
}
main .container .left .profile {
    padding: var(--card-padding);   
    background: var(--color-white);
    border-radius: var(--card-border-radius);  
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}
.left .sidebar {
    margin-top: 0.8rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    

}
.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 3.1rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}
.left .sidebar .menu-item:hover {
    background: var(--color-light);
}
.left .sidebar i {
    font-size: 1.6rem;
    color: var(--color-gray);
    margin-left: 2.9rem;
    position: relative;
}
.left .sidebar i .notification-count {
    background: var(--color-primary);
    color: white;
    font-size: 0.5rem;  
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.1rem;
    right: -0.2rem;

}
.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}
.left .sidebar  .active {
    background: var(--color-white);
}
.left .sidebar  .active i,
 .left .sidebar  .active h3 {
    color: var(--color-primary);
}
.left .sidebar  .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}
.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .btn {
    margin-top: 0.4rem;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0;
}
.left .notification-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary) 75%, 60% 25%);
    z-index: 8;
    display: none;
}
.left .notification-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
    
}
.left .notification-popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;   
}
.left .notification-popup small {
    display: block;
}
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
    
}
.middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.75));
    position:absolute;
    bottom: 0;
}
.middle .stories .story .name {
    z-index: 2;
}
.middle .stories .story:nth-child(1) {
    background-image: url("./images/story1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.middle .stories .story:nth-child(2) {
    background-image: url("./images/story2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.middle .stories .story:nth-child(3) {
    background-image: url("./images/story3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.middle .stories .story:nth-child(4) {
    background-image: url("./images/story4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.middle .stories .story:nth-child(5) {
    background-image: url("./images/story5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.middle .stories .story:nth-child(6) {
    background-image: url("./images/story6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}
.middle .stories .story .profile-photo {
    width: 2.3rem;
    height: 2.3rem;
    align-self: center;
    border: 3px solid var(--color-primary);
}
.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background:var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}
.middle .create-post input[type= 'text'] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}
.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;

}
.middle .feed .head {
    display: flex;
    justify-content: space-between;
}
.middle .feed  .user{
    display: flex;
    gap: 1rem;
}
.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.9rem 0;
}
.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.middle .liked-by {
    display: flex;
}
.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}
.middle .liked-by span:first-child {
    margin: 0;
}
.middle .liked-by p{
    margin-left: 0.5rem;
}